{% extends "FormBundle::base.html.twig" %}

{% block body %}

<table class="table">
	<thead class="thead-inverse">
	<tr class="text-ct">
	  <th>STT</th>
	  <th>Name</th>
	  <th>Price</th>
	  <th>Transaction</th>
	  <th>Qty</th>
	  <th>Status</th>
	  <th>Description</th>
	</tr>
	</thead>
	<tbody>
		
	<tr>
	  <th scope="row">1</th>
	  <td>{{ product.name }}</td>
	  <td>{{ product.price }}</td>
	  <td>{{ product.transaction }}</td>
	  <td>{{ product.qty }}</td>
	  <td>{{ product.status }}</td>
	  <td>{{ product.description }}</td>
	</tr>

	</tbody>
</table>
{% block fos_user_content %}{% endblock %}

{% endblock %}
