
{% extends "FormBundle::base.html.twig" %}



{% block body %}
	    
		
        <table class="table">
		  <thead class="thead-inverse">
		    <tr class="text-ct">
		      <th>STT</th>
		      <th>Name</th>
		      <th>Price</th>
		      <th>Decription</th>
		      <th colspan="2">Action</th>
		    </tr>
		  </thead>
		  <tbody>

		  	{% set count = 1 %}
		  	{% for data in datas %}
		  	
		    <tr>
		      <th scope="row">{{ count }}</th>
		      {% set count = count+1 %}
		      <td>{{ data.name }}</td>
		      <td>{{ data.price }}</td>
		      <td>{{ data.description }}</td>
		      <th colspan="2" class="form-action">
		      	<ul class="btn-group">
		      		<li><a href="{{ path('create_action') }}" class="btn btn-success">Create</a></li>
		      		<li><a href="{{ path('view_action',{'idProduct' : data.id}) }}" class="btn btn-info">View</a></li>
		      		<li><a href="{{ path('update_action',{'idProduct' : data.id}) }}" class="btn btn-primary">Update</a></li>
		      		<li><a href="{{ path('delete_action',{'idProduct' : data.id}) }}" class="btn btn-danger">Delete</a></li>
		      	</ul>
		      </th>
		    </tr>

		    {% endfor %}
		    
		  </tbody>
		</table>
		
{% endblock %}