
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>


    <!-- Custom styles for this template -->
    {% block stylesheets %}
    <link href="{{ asset('/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/base.css') }}" rel="stylesheet">
    {% endblock %}
  </head>

  <body>
	{% if app.session.flashBag.has('notice') %}
	<div class="alert alert-success">
	    {% for msg in app.session.flashBag.get('notice') %}
	        {{ msg }}
	    {% endfor %}
	</div>
	{% endif %}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


	
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>


    <div class="container">

      <div class="starter-template">

      	{% block body %}

        <table class="table">
		  <thead class="thead-inverse">
		    <tr class="text-ct">
		      <th>ID</th>
		      <th>Name</th>
		      <th>Price</th>
		      <th>Decription</th>
		      <th colspan="2">Action</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td>Mark</td>
		      <td>Otto</td>
		      <td>@mdo</td>
		      <th colspan="2" class="form-action">
		      	<ul class="btn-group">
		      		<li><button type="button" class="btn btn-primary">Create</button></li>
		      		<li><button type="button" class="btn btn btn-succes">View</button></li>
		      		<li><button type="button" class="btn btn btn-info">Udate</button></li>
		      		<li><button type="button" class="btn btn-danger">Delete</button></li>
		      	</ul>
		      </th>
		    </tr>
		    <tr>
		      <th scope="row">2</th>
		      <td>Jacob</td>
		      <td>Thornton</td>
		      <td>@fat</td>
		      <th colspan="2" class="form-action">
		      	<ul class="btn-group">
		      		<li><button type="button" class="btn btn-primary">Create</button></li>
		      		<li><button type="button" class="btn btn btn-succes">View</button></li>
		      		<li><button type="button" class="btn btn btn-info">Udate</button></li>
		      		<li><button type="button" class="btn btn-danger">Delete</button></li>
		      	</ul>
		      </th>
		    </tr>
		    <tr>
		      <th scope="row">3</th>
		      <td>Larry</td>
		      <td>the Bird</td>
		      <td>@twitter</td>
		      <th colspan="2" class="form-action">
		      	<ul class="btn-group">
		      		<li><button type="button" class="btn btn-primary">Create</button></li>
		      		<li><button type="button" class="btn btn btn-succes">View</button></li>
		      		<li><button type="button" class="btn btn btn-info">Udate</button></li>
		      		<li><button type="button" class="btn btn-danger">Delete</button></li>
		      	</ul>
		      </th>
		    </tr>
		  </tbody>
		</table>

		<table class="table">
		  <thead class="thead-default">
		    <tr class="text-ct">
		      <th>ID</th>
		      <th>Name</th>
		      <th>Price</th>
		      <th>Decription</th>
		      <th colspan="2">Action</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td>Mark</td>
		      <td>Otto</td>
		      <td>@mdo</td>
		      <th colspan="2" class="form-action">
		      	<ul class="btn-group">
		      		<li><button type="button" class="btn btn-primary">Create</button></li>
		      		<li><button type="button" class="btn btn btn-succes">View</button></li>
		      		<li><button type="button" class="btn btn btn-info">Udate</button></li>
		      		<li><button type="button" class="btn btn-danger">Delete</button></li>
		      	</ul>
		      </th>
		    </tr>
		    <tr>
		      <th scope="row">2</th>
		      <td>Jacob</td>
		      <td>Thornton</td>
		      <td>@fat</td>
		      <th colspan="2" class="form-action">
		      	<ul class="btn-group">
		      		<li><button type="button" class="btn btn-primary">Create</button></li>
		      		<li><button type="button" class="btn btn btn-succes">View</button></li>
		      		<li><button type="button" class="btn btn btn-info">Udate</button></li>
		      		<li><button type="button" class="btn btn-danger">Delete</button></li>
		      	</ul>
		      </th>
		    </tr>
		    <tr>
		      <th scope="row">3</th>
		      <td>Larry</td>
		      <td>the Bird</td>
		      <td>@twitter</td>
		      <th colspan="2" class="form-action">
		      	<ul class="btn-group">
		      		<li><button type="button" class="btn btn-primary">Create</button></li>
		      		<li><button type="button" class="btn btn btn-succes">View</button></li>
		      		<li><button type="button" class="btn btn btn-info">Udate</button></li>
		      		<li><button type="button" class="btn btn-danger">Delete</button></li>
		      	</ul>
		      </th>
		    </tr>
		  </tbody>
		</table>
		{% endblock %}
		

	</div>

    </div><!-- /.container -->
    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascripts %}

    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/popper.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>

    {% endblock %}
  </body>

</html>
