body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.table .text-ct th {
	text-align: center;
}

.table .text-ct th:first-child {
	text-align: left;
}

.form-action {
	text-align: center;
}

.form-action ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

.form-action ul li {
	margin-right: 7px;
}

.clearfix::before, .clearfix::after, .dl-horizontal dd::before,
.dl-horizontal dd::after, .container::before, .container::after, 
.container-fluid::before, .container-fluid::after, .row::before, 
.row::after, .form-horizontal .form-group::before,
.form-horizontal .form-group::after, .btn-toolbar::before, 
.btn-toolbar::after, .btn-group-vertical > .btn-group::before, 
.btn-group-vertical > .btn-group::after, .nav::before, .nav::after,
.navbar::before, .navbar::after, .navbar-header::before,
.navbar-header::after, .navbar-collapse::before, .navbar-collapse::after,
.pager::before, .pager::after, .panel-body::before, .panel-body::after,
.modal-footer::before, .modal-footer::after {
	display: table;
	content: " ";
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: left;
}

.form-group {
	margin-bottom: 45px;
}