{% trans_default_domain 'FOSUserBundle' %}

 <div>
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>
  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
          {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            <br/>
          {% endif %}
          <form action="{{ path("fos_user_security_check") }}" method="POST">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />              
          <h1>Login Form</h1>
          <div>
            <input type="text" class="form-control" placeholder="{{ 'security.login.username'|trans }}" id="username" name="_username" value="{{ last_username }}" required="required" />
          </div>
          <div>
            <input type="password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" id="password" name="_password" required="required" />
          </div>              
          <div>
            <input class="btn btn-default submit" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />                
          </div>
          <div class="clearfix"></div>
          <div class="separator">
            <div>
              <h1><i class="fa fa-paw"></i>THUANDOVAN</h1>
            </div>
          </div>
        </form>
      </section>
    </div>     
  </div>
</div>
