{% extends 'base.html.twig' %}

{% block body %}
        <div class="row justify-content-center">
    	<div class="col-md-4 col-md-offset-5">
            {% block fos_user_content %}

            {% endblock fos_user_content %}
        </div>
        </div>
{% endblock %}
